<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <meta charset="utf-8">
  <meta naem="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!--CSS -->
        <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
       <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
       <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= title %> Me</h1>
    <p>About Me</p>
    

    <!--Scripts -->
<script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src ="/Scripts/lib/bootstrap/jquery/dist/js/bootstrap.min.js"></script>
<script src ="/Scripts/app.js"></script >


  </body>
</html>
