<% include partials/header.ejs %>

<!--Main content-->

<div class = "row1">

<div class ="col-md-8" 
<br>
<div class= "load"
<br>
     <i id="loading" class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
</div>
<div class="et"
<br>
<h1 id="emerging">Emerging </h1>
<h1 id="tech">Technology </h1>
       </div>
        
</div>
        <div class ="col-md-4" 
<br>
      <h1 id ="homeHeader"><%= title %></h1>
       
 </div>
        </div>
        

</div>

<div id="about"
<br>    
        <P>about content goes here</P>
        </div>

<div id="project"
<br> 
        <P>project content goes here</P>
        </div>

 <!-- <div class = "container-fluid">
 
<h1><%= title %></h1>

 <div class = "row">

    <p>Welcome to <%= title %></p>
        <p>Date:<%= date %></p>
        <hr>

<div class ="col-md-6" 
<br>
        <img id ="fingerprint" src ="/Assets/images/fingerprint.jpg"></img>
        
        </div>
<div class ="col-md-6" 
<br>
       <h2> Emerging Technology</h2></div>

              </div>

                    </div> 
                    -->
    

<% include partials/footer.ejs %>



