/*custom css*/ 
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.navbar{
  opacity: 0.8}
body{
  background-color: #242121;
  color: white;
  font-family: Abril Fatface, cursive;
}

.row1{
  min-height:1000px;
  background: #242121;
  margin-top: 100px;
 
}
#paraHome{
  font-size: 24px;
  padding-top: 100px;
  text-indent: 0.5em;
  animation: fadeIn 2s ease-in-out 0s forwards; }
#about{
  min-height: 1000px;
  background: #76323F;
   margin-top: 100px;
}
#project{
  min-height: 1000px;
  background: #C09F80;

}
#homeHeader{
 font-family: Abril Fatface, cursive;
 text-decoration: underline;
 text-align: center;

}
#loading{
position: absolute;
left: 350px;
top: 216px;

}

.et{

  border-right:1px solid grey;
  opacity: 0;
  animation: fadeOut 1s ease-out 0s forwards;

}
@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}

.et:hover{
animation: fadeIn 2s ease-in-out 0s forwards;

}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

#emerging{
font-size: 480%;  
position: absolute;
transform:rotate(270deg);
padding-right: 480px;

}

#tech{
  font-size: 480%;
  position: absolute;
transform:rotate(-270deg);
padding-bottom: 600px;

}
hr{
  color: gray;
}

.banner{  
  margin-left: 100px;
  padding-left: 850px; 
}
#homeBanner{
  text-align: center;


}
.banner li:hover{
background-color: black;
opacity: 0.9;

}

#spinner{
  color: white;
}
.active a:hover{
  background-color: black;
  color: white; 
}
#fingerprint{
 max-width: 100%;
 max-height: 100%;
}
#avatar{
  position: absolute;
  padding-top: 150px;
  padding-left: 150px;
  border-radius: 50%;
}
#AboutHeader{
  text-align: center;
  padding-top: 100px;


}