/*custom css*/ 
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.navbar{
  opacity: 0.8}
body{
  background-color: #242121;
  color: white;
  font-family: Abril Fatface, cursive;
}

.row1{
  min-height:1000px;
  background: #242121;
  margin-top: 100px;  
 
}
#paraHome{
  font-size: 24px;
  padding-top: 100px;
  text-indent: 0.5em;
  animation: fadeIn 2s ease-in-out 0s forwards; }
#about{
  min-height: 1000px;
  background: #76323F;
   margin-top: 100px;
}
#project{
  min-height: 1000px;
  background: #428f89;

}
#service{
min-height: 1000px;
background:#a54e36;
}
#contact{
min-height: 1000px;
background:#133831;

}
#homeHeader{
 font-family: Abril Fatface, cursive;
 text-decoration: underline;
 text-align: center;

}
#loading{
position: absolute;
left: 350px;
top: 216px;

}

.et{

  border-right:1px solid grey;
  opacity: 0;
  animation: fadeOut 1s ease-out 0s forwards;

}
@keyframes fadeOut{
  from{opacity: 1;}
  to{opacity: 0;}
}

.et:hover{
animation: fadeIn 2s ease-in-out 0s forwards;

}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}

#emerging{
font-size: 480%;  
position: absolute;
transform:rotate(270deg);
padding-right: 480px;

}

#tech{
  font-size: 480%;
  position: absolute;
transform:rotate(-270deg);
padding-bottom: 600px;

}
hr{
  color: gray;
}

.banner{  
  margin-left: 100px;
  padding-left: 850px; 
}
#homeBanner{
  text-align: center;


}
.banner li:hover{
background-color: black;
opacity: 0.9;

}

#spinner{
  color: white;
}
.active a:hover{
  background-color: black;
  color: white; 
}
#fingerprint{
 max-width: 100%;
 max-height: 100%;
}
#avatar{
  position: absolute;
  padding-top: 150px;
  padding-left: 150px;
  border-radius: 50%;
}
.details{
  padding-top: 550px;
  padding-left:200px;
}

#AboutHeader{
  text-align: center;
  padding-top: 100px;
}
.content{
  text-align: center;
  padding-top: 150px;
}
.row3{
 padding-top: 80px;
 padding-left: 25px;
}
.thumbnail{
  background-color: #dddad6;
  width: 300px;
  height: 400px;
 
  box-shadow: 10px 10px 5px #242121;
}
.thumbnail:hover{
  position: relative;
    -webkit-transition: all 200ms ease-in;
       -webkit-transform: scale(1.5); 
  transition: all 200ms ease-in;
    transform: scale(1.2);   
}
#pay{
  width: 230px;
  height: 200px;
}
.progress{
  width: 400px;
}
#service{
  padding-left: 200px;
}
.web{
  padding-top: 100px;
  padding-right: 800px;
  text-align: center;
  
}
.test{
position: relative;
bottom: 320px;
padding-left: 50px;
text-align: center;
  transform: scale(1.1);
  
}

#contact{
  padding-top: 100px;
  text-align: center;
}
.social:hover {
     -webkit-transform: scale(1.1);
    
 }
 .social {
     -webkit-transform: scale(0.8); 
     -webkit-transition-duration: 0.5s;
 }

